In [1]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

### Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [2]:
def findjobs(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    
    #Writing position as Data Analyst
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input').send_keys('Data Analyst')
    #Writing Location as Banglore
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input').send_keys('Banglore')
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button').click()
    time.sleep(3)
    
    jt=[]
    jl=[]
    jc=[]
    je=[]
    
    #Scraping Job titile
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
        if i.text=='':
            jt.append('No Data')
        else:
            jt.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping job Location
    c=0
    for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        if str(i.text)=='':
            jl.append('No Data')
        else:
            jl.append(str(i.text))
        c+=1
        if c==10:
            break
            
    #Scraping Company Name
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        if i.text=='':
            jc.append('No Data')
        else:
            jc.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Experience
    c=0
    for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
        if i.text is None:
            je.append('No Data')
        else:
            je.append(i.text)
        c+=1
        if c==10:
            break

    df=pd.DataFrame()
    df['Job Title']=jt
    df['Job Location']=jl
    df['Company Name']=jc
    df['Experience Required']=je
    return df

In [3]:
dataframe=findjobs('https://www.naukri.com/')
dataframe

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analysts,Bengaluru/Bangalore,IBM India Pvt. Limited,5-6 Yrs
2,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
3,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
6,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs
7,Job Opportunity For Talent Data Analyst - Corn...,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",Cornerstone OnDemand Services India Pvt Ltd,3-5 Yrs
8,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
9,Data Analyst - Work from Home,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [4]:
def jobs(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    
    #Writing position as Data Scientist
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input').send_keys('Data Scientist')
    #Writing Location as Banglore
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input').send_keys('Banglore')
    time.sleep(2)
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button').click()
    time.sleep(3)
    
    jt=[]
    jl=[]
    cn=[]
    jd=[]
    url=[]
    
    #Scraping Job titile
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
        if i.text=='':
            jt.append('No Data')
        else:
            jt.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping job Location
    c=0
    for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        if i.text=='':
            jl.append('No Data')
        else:
            jl.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Company Name
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        if i.text=='':
            cn.append('No Data')
        else:
            cn.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Detailed Job Description
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
        url.append(i.get_attribute('href'))
        c+=1
        if c==10:
            break
    for u in url:
        driver.get(u)
        time.sleep(2)
        try:
            jobdesc=driver.find_element_by_xpath('/html/body/div[1]/main/div[2]/div[2]/section[2]/div[1]')
        except Exception as e:
            try:
                jobdesc=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div[2]/div/div/div/div/div/div/section[1]/div')
            except Exception as e:
                jobdesc=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div[2]/div/div/div/div/div/section[1]/div/div[2]')

        if jobdesc.text is None:
            jd.append('No Data')
        else:
            jd.append(jobdesc.text.replace('\n',' '))

    df=pd.DataFrame()
    df['Job Title']=jt
    df['Job Location']=jl
    df['Company Name']=cn
    df['Job Description']=jd
    return df

In [5]:
dataframe=jobs('https://www.naukri.com/')
dataframe

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job Role : Data Scientist/Data Analyst /Busine...
1,Senior / Lead Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",TVS CREDIT SERVICES LIMITED,Key Responsibilities Be responsible for scalin...
2,"Data Scientist, Machine Learning","Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,The recruitment process starts with an Online ...
3,Senior Data Scientist,Bangalore/Bengaluru,RedBus,Job Role: Senior Data Scientist Reporting To...
4,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,We are a group of tenured professors from Tier...
5,"VP - Sr. Data Scientist For Morgan Stanley, Ba...",Bangalore/Bengaluru,Morgan Stanley Advantage Services,About Us Morgan Stanley is a leading global fi...
6,data scientist,Bangalore/Bengaluru,Global Talent Pool,Essential Duties Responsibilities Perform basi...
7,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Job Responsibilities Ability to understand a p...
8,Sr Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",intelligent industrial internet systems pvt ltd.,Roles and Responsibilities - Create an industr...
9,Looking For Data Scientist For Infogain,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El...",Infogain India (P) Ltd.,Dear Candidates We are looking for an Experien...

### Q3: In this question you have to scrape data using the filters available on the webpage. You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs.

In [6]:
def jobs(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    #Writing position as Data Scientist
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input').send_keys('Data Scientist')
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button').click()
    time.sleep(2
              )
    #Clicking on delhi/ncr filter
    driver.find_element_by_xpath("//span[@class='ellipsis fleft' and @title='Delhi / NCR']").click()
    time.sleep(2)
    #Clicking on 3-6lakhs filter
    driver.find_element_by_xpath("//span[@class='ellipsis fleft' and @title='3-6 Lakhs']").click()
    time.sleep(2)
    
    jt=[]
    jl=[]
    cn=[]
    je=[]
    
    #Scraping Job titile
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
        if i.text=='':
            jt.append('No Data')
        else:
            jt.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping job Location
    c=0
    for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
        if i.text=='':
            jl.append('No Data')
        else:
            jl.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Company Name
    c=0
    for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
        if i.text=='':
            cn.append('No Data')
        else:
            cn.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Experience
    c=0
    for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
        if i.text is None:
            je.append('No Data')
        else:
            je.append(i.text)
        c+=1
        if c==10:
            break

    df=pd.DataFrame()
    df['Job Title']=jt
    df['Job Location']=jl
    df['Company Name']=cn
    df['Job Description']=je
    return df

In [7]:
dataframe=jobs('https://www.naukri.com/')
dataframe

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
3,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
4,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
5,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
8,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
9,Immediate Opening : Data Scientist - Python/Ma...,Noida,GyanScore Services Private Limited,3-5 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company from Glassdoor.

In [8]:
def glass(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(35)
    
    #Writing position as Data Scientist
    driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[1]/div/div/input').send_keys('Data Scientist')
    
    #Writing Location as Noida
    searchbox=driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/div[3]/div/input')
    searchbox.send_keys(Keys.BACKSPACE*10) #Removing previously wriiten text
    time.sleep(2)
    searchbox.send_keys('Noida')
    
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[3]/form/div/button/span').click()
    time.sleep(3)
    
    cn=[]
    days=[]
    rating=[]
            
    #Scraping Company Name
    c=0
    for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]/span'):
        cn.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping No. of days ago when job was posted
    c=0
    for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
        days.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Ratings of the company
    c=0
    for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
        if i.text=='':
            rating.append('No Data')
        else:
            rating.append(i.text)
        c+=1
        if c==10:
            break

    df=pd.DataFrame()
    df['Company Name']=cn
    df['No. of days ago when job was posted']=days
    df['Ratings of the Company']=rating
    return df

In [9]:
dataframe=glass('https://www.glassdoor.co.in/index.htm')
dataframe

,Company Name,No. of days ago when job was posted,Ratings of the Company
0,Ginger Webs Pvt. Ltd.,24h,3.7
1,Crowe,8d,3.7
2,Biz2Credit Inc,30d+,4.0
3,Mogli Labs India Private Limited,6d,4.1
4,dunnhumby,24h,5.0
5,,30d+,4.1
6,Ericsson,6d,3.7
7,Amploy,6d,3.8
8,CRMNEXT,30d+,3.7
9,WishFin,30d+,2.4

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company from the page https://www.glassdoor.co.in/Salaries/index.htm

In [12]:
def glass(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(2)
    
    #Writing position as Data Scientist
    driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[5]').send_keys('Data Scientist')
    
    #Writing Location as Noida
    locsearch=driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[6]')
    locsearch.send_keys(Keys.BACKSPACE*10)
    locsearch.send_keys('Noida')
    
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button').click()
    time.sleep(8)
    
    mi=[]
    ma=[]
    av=[]
    cn=[]
    ra=[]
            
    #Scraping Company Name
    c=0
    for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]/a'):
        cn.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Average salary offered by the company
    c=0
    for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3'):
        av.append(i.text.replace('\n',''))
        c+=1
        if c==10:
            break
            
    #Scraping Minimum salary offered by the company
    c=0
    for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]'):
        mi.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping Maximum salary offered by the company
    c=0
    for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[2]'):
        ma.append(i.text)
        c+=1
        if c==10:
            break
            
    #Scraping ratings of the company
    c=0
    for i in driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]'):
        ra.append(i.text)
        c+=1
        if c==10:
            break
            
    df=pd.DataFrame()
    df['Company Name']=cn
    df['Average Salary']=av
    df['Maximum Salary']=ma
    df['Minimum Salary']=mi
    df['Ratings']=ra
    return df

In [13]:
dataframe=glass('https://www.glassdoor.co.in/Salaries/index.htm')
dataframe

,Company Name,Average Salary,Maximum Salary,Minimum Salary,Ratings
0,Tata Consultancy Services,"₹ 6,14,306","₹1,250K",₹343K,3.9
1,IBM,"₹ 9,00,000","₹2,730K",₹586K,3.9
2,Accenture,"₹ 11,46,533","₹2,213K",₹577K,4
3,Ericsson-Worldwide,"₹ 7,38,057","₹1,613K",₹355K,4
4,Delhivery,"₹ 12,39,781","₹11,622K",₹450K,3.8
5,UnitedHealth Group,"₹ 13,36,142","₹1,520K","₹1,069K",3.6
6,Optum Global Solutions,"₹ 13,26,575","₹2,149K",₹350K,3.9
7,Valiance Solutions,"₹ 8,15,192","₹1,465K",₹502K,4.1
8,ZS Associates,"₹ 11,35,221","₹1,809K",₹202K,4
9,EXL Service,"₹ 11,44,243","₹1,520K",₹575K,3.6

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price 4. Discount % using the url https://www.flipkart.com/

In [22]:
def flip(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(3)
    
    #Writing Sunglasses in the search bar
    driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('Sunglasses')
    
    #Clicking on search button
    driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()
    time.sleep(2)
    
    brand=[]
    pdis=[]
    price=[]
    dis=[]
    
    #Scraping from 3 pages
    for i in range(3):
    
        #Scraping brand of the sunglasses
        for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
            brand.append(i.text)
        
        #Scraping description of the sunglasses
        for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
            if i.text is None:
                pdis.append('No Data')
            else:
                pdis.append(i.text)
       
        #Scraping price
        for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
            if i.text is None:
                price.append('No Data')
            else:
                price.append(i.text)
     
        #Scraping discount on the sunglasses    
        for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
            if i.text is None:
                dis.append('No Data')
            else:
                dis.append(i.text)
        
        #clicking on the next button
        driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
        time.sleep(4)

    df=pd.DataFrame()
    df['Brand']=brand[:100]
    df['Decription']=pdis[:100]
    df['Price']=price[:100]
    df['Discount']=dis[:100]
    return df

In [23]:
dataframe=flip('https://www.flipkart.com/')
dataframe

,Brand,Decription,Price,Discount
0,AISLIN,"UV Protection, Gradient Round Sunglasses (58)",₹525,65% off
1,Villain,Others Retro Square Sunglasses (Free Size),₹539,28% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,AISLIN,UV Protection Cat-eye Sunglasses (61),₹764,76% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,75% off
97,AISLIN,"UV Protection Wayfarer, Round Sunglasses (63)",₹735,77% off
98,AISLIN,"UV Protection Rectangular, Cat-eye Sunglasses ...",₹679,72% off
99,AISLIN,"UV Protection, Others Aviator Sunglasses (58)","₹1,027",72% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone, i.e. 1. Rating 2. Review_summary 3. Full review. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [27]:
def flip(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(3)
    
    #Clicking on the review button to see all the reviews
    driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]').click()
    time.sleep(2)
    
    ra=[]
    re=[]
    res=[]
    
    #Scraping reviews until count dosent exceed 100
    c=0
    while c<100:
        
        #Scraping rating
        for i in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
            ra.append(i.text)
            c+=1
                
        #Scrpaing short review
        for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
            if i.text=='':
                re.append('No Data')
            else:
                re.append(i.text)
        
        #SCraping Full Review
        for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
            if i.text=='':
                res.append('No Data')
            else:
                res.append(i.text.replace('\n',''))
        
        #Clicking on the Next Button
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(3)

    df=pd.DataFrame()
    df['Rating']=ra[:100]
    df['Review Summary']=re[:100]
    df['Full Review']=res[:100]
    return df

In [28]:
dataframe=flip('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
dataframe

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific,Really worth of money. i just love it. It is t...
96,5,Classy product,Superb Product !!!A big and worthy upgrade fro...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Wonderful,This is my first ever I phone. Before this I w...
99,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker : 1. Brand 2. Product Description 3. Price 4. discount %

In [31]:
def flip(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(3)
    
    #Writing Sneakers on the search bar 
    driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('Sneakers')
    #Clicking on the Search button
    driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()
    time.sleep(2)
    
    brand=[]
    pdesc=[]
    price=[]
    dis=[]
    
    #Scraping reviews until count dosent exceed 100
    c=0
    while c<100:
        
        #Scraping brand of the sneaker
        for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
            brand.append(i.text)
            c+=1
        
        #Scraping Description of the shoe
        for i in driver.find_elements_by_xpath('//div[@class="_2B099V"]/div'):
            if i.text is None:
                pdesc.append('No Data')
            else:
                pdesc.append(i.text)
        
        #Scraping price of the shoe
        for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
            if i.text is None:
                price.append('No Data')
            else:
                price.append(i.text)
                
        #Scraping discount offered   
        for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
            if i.text is None:
                dis.append('No Data')
            else:
                dis.append(i.text)
        
        #Clicking on the next button
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(3)

    df=pd.DataFrame()
    df['Brand']=brand[:100]
    df['Decription']=pdesc[:100]
    df['Price']=price[:100]
    df['Discount']=dis[:100]
    return df

In [32]:
dataframe=flip('https://www.flipkart.com/')
dataframe

        Brand           Decription   Price Discount
0       oxpeo                oxpeo    ₹398  60% off
1      DUCATI                       ₹1,272  49% off
2   India hub               DUCATI    ₹404  86% off
3      ORICUM                         ₹377  62% off
4   VIPSJAZZY            India hub    ₹429  57% off
..        ...                  ...     ...      ...
95     BRUTON                Arohi    ₹399  83% off
96    Numenzo  World Wear Footwear    ₹398  60% off
97  SCATCHITE                         ₹419  58% off
98   HOTSTYLE             Magnolia    ₹283  43% off
99    JUBENTA                         ₹549  45% off

[100 rows x 4 columns]

### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [33]:
def myntra(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(1)
    
    #Clicking on the price filter 6649 to 13099 
    driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()
    time.sleep(1)
    #Clicking on the color filter to black 
    driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()
    time.sleep(1)
    
    brand=[]
    sdesc=[]
    price=[]
    
    #Scraping reviews until count dosent exceed 100
    c=0
    while c<100:
            #Scraping brand of the shoe
            for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
                brand.append(i.text)
                c+=1
                
            #Scraping shoe description
            for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
                sdesc.append(i.text)
                
            #Scraping Price of the shoe
            for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
                price.append(i.text)
                
            #Clicking on the next button
            driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]/a').click()
            time.sleep(1)
    
    df=pd.DataFrame()
    df['Brand']=brand[:100]
    df['Decription']=sdesc[:100]
    df['Price']=price[:100]
    return df

In [34]:
dataframe=myntra('https://www.myntra.com/shoes')
dataframe

,Brand,Decription,Price
0,Cole Haan,Women Woven Design Sneakers,Rs. 6749Rs. 14999(55% OFF)
1,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990(20% OFF)
2,Cole Haan,Women Leather Sneakers,Rs. 7699Rs. 10999(30% OFF)
3,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
4,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
...,...,...,...
95,Supra,Skytop Leather Casual Shoes,Rs. 7999
96,Nike,Men AIR JORDAN Basketball,Rs. 8995
97,Onitsuka Tiger,Unisex TAI-CHI-REB Sneakers,Rs. 8999
98,UNDER ARMOUR,Men Charged Bandit 6 Running,Rs. 7649Rs. 8999(15% OFF)
99,Nike,Men AIR ZOOM VOMERO Running,Rs. 10121Rs. 13495(25% OFF)

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. title 2. Ratings 3. Price

In [35]:
def amazon(url):
    #Initializing Selenium Webdriver
    driver=webdriver.Edge(r'C:\Users\aush1\Downloads\msedgedriver.exe')
    driver.get(url)
    time.sleep(1)
    
    #Writing laptop in the search bar
    driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('Laptop')
    #Clicking on the search button
    driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()
    
    #Clicking on the i7 filter
    driver.find_element_by_xpath('//span[text()="Intel Core i7"]').click()
    #Clicking on the i9 filter
    driver.find_element_by_xpath('//span[text()="Intel Core i9"]').click()
    
    title=[]
    ra=[]
    price=[]
    
    #Scraping the laptop's title
    for i in driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none"]/h2/a/span'):
        title.append(i.text)
        c=+1
    
    #Scrapimg Rating of the laptop
    k=0
    for i in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span'):
        if k%2==0:
            if i.get_attribute('aria-label')=='':
                ra.append('No data')
            else:
                ra.append(i.get_attribute('aria-label'))
        k+=1
    
    #Scraping the price of the laptop
    for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
        if i.text=='':
            price.append('No Data')
        else:
            price.append(i.text)
        
    df=pd.DataFrame()
    df['Title']=title[:10]
    df['Ratings']=ra[:10]
    df['Price']=price[:10]
    return df

In [36]:
dataframe=amazon('https://www.amazon.in/')
dataframe

,Title,Ratings,Price
0,Vaio Z NZ14V3IN001P 14 inch/35.56 cm(Intel Cor...,1.0 out of 5 stars,"3,52,990"
1,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5 stars,"83,000"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"54,999"
3,(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ ...,3.0 out of 5 stars,"46,290"
4,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...",5.0 out of 5 stars,"76,494"
5,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5 stars,"84,990"
6,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.0 out of 5 stars,"86,990"
7,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,3.1 out of 5 stars,"1,74,990"
8,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,2.9 out of 5 stars,"26,990"
9,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.7 out of 5 stars,"89,990"